@-webkit-keyframes cardHover {
  0% {
    -webkit-transform: none;
            transform: none;
  }
  50% {
    -webkit-transform: translateY(-32px) rotate(-3deg);
            transform: translateY(-32px) rotate(-3deg);
  }
  100% {
    -webkit-transform: translateY(-23px);
            transform: translateY(-23px);
  }
}

@keyframes cardHover {
  0% {
    -webkit-transform: none;
            transform: none;
  }
  50% {
    -webkit-transform: translateY(-32px) rotate(-3deg);
            transform: translateY(-32px) rotate(-3deg);
  }
  100% {
    -webkit-transform: translateY(-23px);
            transform: translateY(-23px);
  }
}

body {
  font-family: 'Roboto', sans-serif;
  color: #fff;
  background: url(../img/desk.jpg);
}

.menu {
  padding-top: 83px;
  padding-left: 95px;
}

.menu__title {
  font-size: 57px;
  line-height: 67px;
  margin-bottom: 9px;
}

.menu__subtitle {
  font-size: 19px;
  line-height: 22px;
  padding-left: 2px;
}

.menu__difficulty {
  font-size: 33px;
  line-height: 42px;
  padding-top: 27px;
  padding-left: 50px;
  margin-bottom: 120px;
}

.menu__start {
  cursor: pointer;
  font-size: 31px;
  line-height: 37px;
  font-weight: bold;
  color: #fff;
  background: #D62B2E;
  border-radius: 7px;
  margin-left: -1px;
  padding: 29px 83px 28px 82px;
}

.menu__start:hover {
  -webkit-transform: translate(2px, 1px);
          transform: translate(2px, 1px);
  opacity: .9;
  -webkit-transition: ease-in-out .2s;
  transition: ease-in-out .2s;
}

.menu__cards .card {
  -webkit-transition: -webkit-transform ease-in-out .4s;
  transition: -webkit-transform ease-in-out .4s;
  transition: transform ease-in-out .4s;
  transition: transform ease-in-out .4s, -webkit-transform ease-in-out .4s;
}

.menu__cards .card--light-rotate:hover {
  -webkit-transform: rotate(14.9deg);
          transform: rotate(14.9deg);
}

.menu__cards .card--hard-rotate:hover {
  -webkit-transform: rotate(42.26deg);
          transform: rotate(42.26deg);
}

.difficulty-item__easy {
  position: relative;
  cursor: pointer;
}

.difficulty-item__medium {
  position: relative;
  cursor: pointer;
}

.difficulty-item__hard {
  position: relative;
  cursor: pointer;
}

.difficulty-item:hover {
  color: rgba(255, 255, 255, 0.8);
  -webkit-transition: color ease-in-out .4s;
  transition: color ease-in-out .4s;
}

.selected::before {
  content: "";
  position: absolute;
  left: -46px;
  top: 12px;
  width: 18px;
  height: 18px;
  background: #D62B2E;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.card {
  position: absolute;
  width: 218px;
  height: 341px;
  background: url(../img/reverseCard.png);
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: -webkit-transform ease-in-out .4s;
  transition: -webkit-transform ease-in-out .4s;
  transition: transform ease-in-out .4s;
  transition: transform ease-in-out .4s, -webkit-transform ease-in-out .4s;
}

.card--light-rotate {
  left: 889px;
  bottom: 28px;
  -webkit-filter: drop-shadow(1px 1px 2px rgba(0, 0, 0, 0.7));
          filter: drop-shadow(1px 1px 2px rgba(0, 0, 0, 0.7));
  -webkit-transform: rotate(11.9deg);
          transform: rotate(11.9deg);
}

.card--hard-rotate {
  left: 1069px;
  bottom: 10px;
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25)), drop-shadow(-2px 0px 1px rgba(0, 0, 0, 0.3));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25)), drop-shadow(-2px 0px 1px rgba(0, 0, 0, 0.3));
  -webkit-transform: rotate(39.26deg);
          transform: rotate(39.26deg);
}

#back {
  position: absolute;
  cursor: pointer;
  bottom: 5px;
  right: 5px;
}

.game {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100vh;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.easy .card {
  position: static;
  margin: 106px 12px 0;
}

.medium {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 60vw;
  height: 81vh;
  margin: 0 auto;
  padding-top: 139px;
}

.medium .card {
  position: static;
  margin: 1px 12px 0;
}

.hard {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 85vw;
  height: 81vh;
  margin: 0 auto;
  padding-top: 139px;
}

.hard .card {
  position: static;
  margin: 1px 12px 0;
}

.hidden {
  display: none !important;
}

.rotate {
  -webkit-transition: -webkit-transform ease-in-out .4s;
  transition: -webkit-transform ease-in-out .4s;
  transition: transform ease-in-out .4s;
  transition: transform ease-in-out .4s, -webkit-transform ease-in-out .4s;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
}
