@media all and (min-width : 320px) and (max-width: 479px) {

  .menu {
    padding-left: 0;
    padding-top: 25px;

    &__title {
      font-size: 30px;
      line-height: 35px;
      text-align: center;
    }

    &__subtitle {
      font-size: 19px;
    }

    &__difficulty {
      font-size: 20px;
      line-height: 30px;
      margin-bottom: 30px;
      padding-top: 5px;
    }

    &__cards {
      display: none;
    }

    &__start {
      display: block;
      width: 280px;
      margin: 0 auto;
    }
  }

  .selected::before {
    left: -30px;
    top: 3px;
  }
};

@media all and (min-width : 480px) and (max-width: 767px) {

};

@media all and (min-width : 768px) and (max-width: 1024px) {

};

@media all and (min-width : 1024px) and (max-width: 1439px) {

};